body{
background-color: white;
margin: auto;
font-family: Arial;
}

.darkmode {
 background-color: black;

}


#Wrapper{

height: 1000px;
max-width: 80%;
margin: auto;
width: auto;



}


#Header{
z-index: 2;
background-color:#FE5763;
width: 80%;
height:200px;
position: fixed;
border-bottom: 2px solid;
min-width: 300px;



}

#clock{
  position: absolute;
  left: 15px;
  font-size: 20px;
}
#button{
  position: fixed;
  left: 47%;
  top:75px;
}

.buttonstyle{

  background-color: #FF6C00;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;

}

.buttonstyle:hover
{background-color: #FFC59A;
}

#Title{
  color: #FE9AA1;
text-align: center;
float:left;
width: 100%;
height: 50px;
text-align;
text-decoration: underline;
height: auto;
text-shadow: 2px 2px 4px #000000;

}

.menubutton{
  position:fixed;
  left: 15%;
  top: 75px;
  background-color: #FF6C00;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.dropdown {
  position: fixed;
  left: 15%;
  top: 125px;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: lightgray;
}

.dropdown:hover .dropdown-content
{display: block;
}

.dropdown:hover .menubutton
{background-color: #FFC59A;
}
/* https://www.w3schools.com/howto/howto_css_dropdown.asp */

#Photo{
  float: right;
  position: absolute;
  top: 30px;
  right: 100px;
  height: 140px;
  border: solid;
  width: 120px;

}

#MiddleWrapper{

  position: absolute;
  top: 200px;
  width: 60%;
  height: 500px;
  background-color: gray ;
  font-size: 15px;
  min-width: 300px;
  color: white;
  text-indent: 10px;
  text-shadow: 2px 2px 4px #000000;
}
#Intro{
  float: left;
  font-size: 20px;
  font-style: italic;
  padding: 10px;
  text-align:center;


}
#BottomWrapper{
position: absolute;
top: 700px;
background-color: #FE9AA1;
height: 500px;
width: 60%;
font-size: 15px;
min-width: 300px;
text-shadow: 2px 2px 4px #000000;

}
#SideWrapper{
  color: white;
  z-index: 1;
background-color: #FE9AA1;
width: 25%;
min-width: 150px;
position: relative;
float: right;
top: 200px;
height: 800px;
border-left: 2px dotted #FE192A;
font-size: 20px;
text-align: center;
text-shadow: 2px 2px 4px #000000;
}


#years{
  font-weight: bold;
}
#OldYoung{
  font-weight: bold;
}

#Footer{
  color: white;
background-color: darkgray;
position:absolute;
top:700px;
height: 300px;
width: 80%;
min-width: 300px;


}

#ContactInfo{
  text-shadow: 2px 2px 4px #000000;
}

#email {
  text-shadow: 2px 2px 4px #000000;
}
#PhoneNum  {
  text-shadow: 2px 2px 4px #000000;
}
#bottom_of_page{
  float: left;
  text-align: center;
  position: absolute;
  top: 275px;
  width: 1200px;

}
